body {
	font-size: x-large;
}

div {
	font-size: xx-large;
}

#out {
	border: red 2px solid;
	background-color: yellow;
}

nav {
    background-color: white;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}